# Ignore files and folders
__pycache__/
.ipynb_checkpoints/
data/raw/*

# Ignore secrets
.gcp/
sendgrid.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.log
*.sqlite3
.env
.env.*
.envrc

# Conda and Pip
*.egg-info/
*.egg
*.whl
*.conda
.Python
env/
venv/
pm25env/
*.lock

# Parquet & data artifacts
data/*.parquet
data/*.csv
data/*.tsv
models/*.pkl
*.h5
*.joblib

# Jupyter
.ipynb_checkpoints/
*.ipynb

# VSCode
.vscode/
*.code-workspace

# Docker
# **/Dockerfile
docker-compose.override.yml
*.pid

# Prefect/MLflow/etc.
prefect/  # local runs and .prefect deployments
mlruns/
evidently/

# GitHub Actions cache/artifacts
.github/**/*.log
.github/**/*.pid

# OS junk
.DS_Store
Thumbs.db
